*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#background{
    background: url(../../public/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#usuario{
    height: 10%;
    text-align: center;
    display: inline-flex;
}

.form{
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form h2{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    border-radius: 15px;
    box-shadow: 2px 2px;
    padding: 10px;
}

div label{
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#button{
    padding: 15px;
    border-radius: 20px;
}