*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#background{
    background: url(../../public/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
}

#menu{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#usuario{
    height: 40px;
}

#cerradura{
    height: 40px;
    margin-top: 10px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: white;
    padding: 40px 30px;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.726);
}

form h2{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    border-radius: 15px;
    box-shadow: 2px 2px;
    padding: 10px;
}

div label{
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}

div div input{
    border-bottom: 1px solid black;
}

#button{
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
}